<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <!-- Environment variable names -->
    <add key="BrowserVariableName" value="browser" />
    <add key="BrowserVersionVariableName" value="browser_version" />

    <!-- Run on local, grid or Config
    This should be hardcoded to grid for pipeline stages-->
    <add key="TestExecutionEnvironment" value="local" />

    <!-- GRID -->
    <add key="GridHubUrl" value="http://10.101.83.149:4444/wd/hub" />

    <!-- Misc configuration - Used to wire up the driver through an EventFiringWebDriver configured to log driver calls -->
    <add key="EnableLogging" value="true" />
    <add key="NodeQueueingTimeout" value="900" />

    <!-- Binary and server paths - Required for local runs -->
    <add key="FirefoxPath" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
    <add key="IeServerPath" value="N:\Development Engineering\Test Team\Automation\Flights2" />
    <add key="ChromeDriverPath" value="C:\Users\jamesfraser\Documents\chromedriver" />

    <!--Saucelabs access values-->
    <add key="SauceLabsHubUrl" value="" />
    <add key="SauceLabsUsername" value="" />
    <add key="SauceLabsAccessKey" value="" />
    <add key="SauceLabsTunnelName" value="" />

  </appSettings>

  <specFlow>
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="XedoFramework"/>
    </stepAssemblies>
  </specFlow>
</configuration>