<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <!-- Environment variable names -->
    <add key="BrowserVariableName" value="firefox" />
    <add key="BrowserVersionVariableName" value="browser_version" />

    <!-- Run on local, grid or saucelabs
    This should be hardcoded to grid for pipeline stages-->
    <add key="TestExecutionEnvironment" value="local" />

    <!-- GRID -->
    <add key="GridHubUrl" value="http://169.254.151.47:4444/wd/hub" />

    <!-- Misc configuration - Used to wire up the driver through an EventFiringWebDriver configured to log driver calls -->
    <add key="EnableLogging" value="true" />
    <add key="NodeQueueingTimeout" value="900" />

    <!-- Binary and server paths - Required for local runs -->
    <add key="FirefoxPath" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
    <add key="IeServerPath" value="N:\Development Engineering\Test Team\Automation\Flights2" />
    <add key="ChromeDriverPath" value="C:\Program Files (x86)\Selenium" />

    <!--Saucelabs access values-->
    <add key="SaucelabsHubUrl" value="http://ondemand.Saucelabs.com:80/wd/hub" />
    <add key="SaucelabsUsername" value="xedosoftware" />
    <add key="SaucelabsAccessKey" value="89b391ba-374a-4328-b41f-b1d260e0edac" />

  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <!--<unitTestProvider name="NUnit" />-->
    <unitTestProvider name="SpecRun+NUnit" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
    <stepAssemblies>
      <stepAssembly assembly="XedoFramework" />
    </stepAssemblies>
  </specFlow>



</configuration>