<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>

    <!-- Environment variable names -->
    <add key="BrowserVariableName" value="browser" />
    <add key="BrowserVersionVariableName" value="browser_version" />

    <!-- Run on local, grid or Config
    This should be hardcoded to grid for pipeline stages-->
    <add key="TestExecutionEnvironment" value="local" />

    <!-- Misc configuration - Used to wire up the driver through an EventFiringWebDriver configured to log driver calls -->
    <add key="EnableLogging" value="true" />
    <add key="NodeQueueingTimeout" value="900" />

    <!-- Binary and server paths - Required for local runs -->
    <add key="FirefoxPath" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    <add key="IeServerPath" value="N:\Development Engineering\Test Team\Automation\Flights2" />
    <add key="ChromeDriverPath" value="N:\Development Engineering\Test Team\Automation\Flights2" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <language feature="en-GB" tool="" />
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun+NUnit" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>